@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 22px;
}

div.intro{
    background-color: #000000;
    background-image: url(images/homebg.png);
    background-size: cover;
    background-repeat: none;
    width: 100%;
    min-height: 1000px;
}
.white{
    color: #ffffff;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
h1.logo{
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    text-align: right;
    padding: 20px 0px 5px 0px;
}

p.logo-label{
    font-size: 30px;
    font-weight: 300;
    text-align: right;
}